In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [24]:
# Package for Installation
# !pip install scikit-learn
# !pip install pandas

In [25]:
json = {
    'Weather': ['Sunny', 'Sunny', 'Overcast', 'Rainy', 'Rainy', 'Rainy', 'Overcast', 'Sunny', 'Sunny', 'Rainy', 'Sunny'],
    'Temperature': ['Hot', 'Hot', 'Hot', 'Mild', 'Cool', 'Cool', 'Cool', 'Mild', 'Cool', 'Mild', 'Hot'],
    'Play': ['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes']
}

In [26]:
# Creating a DataFrame
data = pd.DataFrame(json)
data

     Weather Temperature Play
0      Sunny         Hot   No
1      Sunny         Hot   No
2   Overcast         Hot  Yes
3      Rainy        Mild  Yes
4      Rainy        Cool  Yes
5      Rainy        Cool   No
6   Overcast        Cool  Yes
7      Sunny        Mild   No
8      Sunny        Cool  Yes
9      Rainy        Mild  Yes
10     Sunny         Hot  Yes

In [34]:
# data['Play'][9]

In [35]:

# Encode categorical variables
le = LabelEncoder()
data['Weather'] = le.fit_transform(data['Weather'])
data['Temperature'] = le.fit_transform(data['Temperature'])
data['Play'] = le.fit_transform(data['Play'])

data

    Weather  Temperature  Play
0         2            1     0
1         2            1     0
2         0            1     1
3         1            2     1
4         1            0     1
5         1            0     0
6         0            0     1
7         2            2     0
8         2            0     1
9         1            2     1
10        2            1     1

In [36]:

# Separate features and target variable
X = data[['Weather', 'Temperature']]
y = data['Play']

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [37]:
# Training Data
X_train

    Weather  Temperature
10        2            1
2         0            1
1         2            1
8         2            0
4         1            0
7         2            2
3         1            2
6         0            0

In [40]:
# Training Output split
y_train

10    1
2     1
1     0
8     1
4     1
7     0
3     1
6     1
Name: Play, dtype: int32

In [39]:
# Testing Data
X_test

   Weather  Temperature
5        1            0
0        2            1
9        1            2

In [41]:
# Testing Output
y_test

5    0
0    0
9    1
Name: Play, dtype: int32

In [42]:

# Initialize the Naive Bayes classifier
nb_classifier = GaussianNB()

# Train the Naive Bayes classifier
nb_model = nb_classifier.fit(X_train, y_train)

In [50]:
# test either to play game or not when "Weather is Sunny" and "Temperature is Hot"

test_data = [[2, 1]]  
output = nb_model.predict(test_data)

In [49]:
def output_process(arr):
    val = arr[0]
    
    if val == 0:
        print("Don't Play Game.")
    elif val == 1:
        print("Play Game.")
        
output_process(output)

Don't Play Game.

In [47]:
# test_data = [[1, 1]]  
# nb_classifier.predict(test_data)