In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# Creating a DataFrame
data = pd.DataFrame({
    'Weather': ['Sunny', 'Sunny', 'Overcast', 'Rainy', 'Rainy', 'Rainy', 'Overcast', 'Sunny', 'Sunny', 'Rainy'],
    'Temperature': ['Hot', 'Hot', 'Hot', 'Mild', 'Cool', 'Cool', 'Cool', 'Mild', 'Cool', 'Mild'],
    'Play': ['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes']
})
data

    Weather Temperature Play
0     Sunny         Hot   No
1     Sunny         Hot   No
2  Overcast         Hot  Yes
3     Rainy        Mild  Yes
4     Rainy        Cool  Yes
5     Rainy        Cool   No
6  Overcast        Cool  Yes
7     Sunny        Mild   No
8     Sunny        Cool  Yes
9     Rainy        Mild  Yes

In [22]:

# Encode categorical variables
le = LabelEncoder()
data['Weather'] = le.fit_transform(data['Weather'])
data['Temperature'] = le.fit_transform(data['Temperature'])
data['Play'] = le.fit_transform(data['Play'])

data

   Weather  Temperature  Play
0        2            1     0
1        2            1     0
2        0            1     1
3        1            2     1
4        1            0     1
5        1            0     0
6        0            0     1
7        2            2     0
8        2            0     1
9        1            2     1

In [ ]:

# Separate features and target variable
X = data[['Weather', 'Temperature']]
y = data['Play']

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Naive Bayes classifier
nb_classifier = GaussianNB()

# Train the Naive Bayes classifier
nb_classifier.fit(X_train, y_train)

In [20]:
X_test

   Weather  Temperature
8        2            0
1        2            1

In [15]:
y_test

8    1
1    0
Name: Play, dtype: int32

In [16]:
test_data = [[1, 1]]  
nb_classifier.predict(test_data)

array([1])

0    2
1    2
2    0
3    1
4    1
5    1
6    0
7    2
8    2
9    1
Name: Weather, dtype: int32